
<!-- Navigation Bar With Dropdown -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">www.pokharatourandtravel.com</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a>Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Page 1
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Page 1-1</a></li>
            <li><a>Page 1-2</a></li>
            <li><a>Page 1-3</a></li>
          </ul>
        </li>
        <li><a>Page 2</a></li>
        <li><a>Page 3</a></li>
      </ul>
    </div>
  </nav> 

<!--Design UI---------------------------------------------------->
<h1 style="color: darkgreen;">POKHARA TOUR & TRAVELS PVT.LTD</h1>
<h2>Hello!!! Client!!!</h2>
**************************************************************************************************************

<br>
<router-outlet></router-outlet>

